<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Global Gas Emissions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
    <!-- Turf Javascript code -->
    <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>

    <script type="text/javascript" src="choropleth.js"></script>

        <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>


    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">						  
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h2>Global Gas Emissions Statistics from 2000 to 2020</h2>
      
		<div class="col-sm-6">
			<h3><a href="/usama">Map View</a></h3>
		</div>
		<div class="col-sm-6">
			<h3><a href="/">Graphical View</a></h3>
		</div>
	  </div>
     
    </div>

  <div class="container">
	<div class="row">
      <div class="col-md-6">
        <div class="well">
          <h4>Top 5 Emission Countries</h4>
          <select id="selDataset_1"></select>
          <canvas id="donut_chart" width="400" height="400"></canvas>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </div>
      </div>
    </div>
	    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h4>Total Emissions by country</h4>
          <select id="selDataset"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id = "line"></div>
      </div>
	  <div class = "col-md-6">
        <div id = "pie"></div>
      </div>
    </div>

	

	
    

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="./static/js/app.js"></script>
	   <!-- The div where we'll insert our map -->
    <div id="map" style="width:1500px;height:450px;"></div>
	<br>
    <div id="map-id" style="width:1500px;height:450px;"></div>





  
</body>

</html>
